.register{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}


.card.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card.column{
    flex-direction: column;
}

.plan{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: scale(0.8);
    position: relative;
    right: 10%;
}

.competitionx{
    height: 80%;
    overflow-y: scroll;
}

.competitionx .check-container{
    background-color: rgb(248, 243, 236);
    padding: 5px;
    border-left: 5px solid salmon;
    border-radius: 5px;
    margin-top: 2px;
}

.competitionx .check-container p{
    color: black;
}

.yxy{
    height: 90%;
    position: relative;
}

@media only screen and (max-width:1120px){
    .plan{
        position: relative;
        right: 15%;
    }
}

@media only screen and (max-width:1000px){
    .plan{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translate(-50%,-50%);
        flex-direction: column;
        position: relative;
        right: 5%;
        overflow-y: scroll;
    }
    
}

@media only screen and (max-width:893px) {
    .plan{
        right: 15%;
    }

}


@media only screen and (max-width:742px) {
    .plan{
        right: 0;
    }
}

@media only screen and (max-width:641px) {
    .plan{
        height: 110%;
        transform: scale(1);
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 0;
        left: 0;
    }
}